{{> head}}



{{> navbar}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Cheems y Dodge</li>
  </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="media">
                <img src="assets/img/cheems.jpg" class="align-self-center mr-3" width="50%" alt="Cheems y Dodge">
                <div class="media-body">
                    <h5 class="mt-0">Meme</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Recusandae, error possimus enim aperiam nostrum pariatur quis est! 
                        Rerum similique obcaecati iusto sed perspiciatis, minima ullam deleniti iste, at ducimus blanditiis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{{> footer}}